<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-echo" version="0.0.1">
    <name>Echo</name>
    <description>Cordova Echo Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,echo</keywords>
    <js-module src="www/echo.js" name="device">
        <clobbers target="echo" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Echo">
                <param name="ios-package" value="CDVEcho"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVEcho.h" />
        <source-file src="src/ios/CDVEcho.m" />
    </platform>
</plugin>
